.button{
    font-size: 20px;
    padding: 10px 20px;
    background-color: #41c2fe;
    color: white;
    border-radius: 5px;
    border: 2px solid #41c2fe;
    cursor: pointer;
  }
  
  .button:hover{
    background-color: white;
    color: #41c2fe;
  }